*{
    box-sizing: border-box;
}

/* NAVIGATION BAR */




.navbar{
    /* margin:15px 15px; */
    display:flex;
    font-family: 'Balsamiq Sans', cursive;
    height:100px;
    /* position: relative; */
    background-color: rgba(157, 152, 152, 0.66);
    z-index: -1;
    color: white;

}

.navbar div img{
    width: 138px;
    height: 100px;
    
}

.navbar ul li{
    list-style-type: none;
    margin: -21px 22px;
    padding: 20px 15px;
}

.navbar ul{
    display: flex;
    padding: 20px;
    margin: 25px 15px;
}
.navbar ul li:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
}
header:before{
    background: url('https://images.unsplash.com/photo-1505682750263-f3f9e519c565?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;
    content: " ";
    position: absolute;
    width: 99%;
    height: 65%;
    z-index: -1;
    opacity: 0.93;
}

header .navbar .searchbox input{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    text-align: center;
    margin: 34px 257px;
    border-radius: 8px;
}

#p-heading{
    display: flex;
    height: 380px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Slabo 27px', serif;
}

.btn{
    padding: 14px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;

}
.btn:hover{
    background-color: rgba(77, 73, 73, 0.544);
    color: white;
    cursor: pointer;
}

/* SERVICES BOX */

.services-container{
    text-align: center;
    display:flex;
    font-family: 'Balsamiq Sans', cursive;
    margin: 69px auto;
}

#services{
    display:flex;
    padding: 22px;
    font-family: 'Balsamiq Sans', cursive;
    /* justify-content: space-between; */
}
#services .box{
    border: 2px solid red;
    width: 411px;
    border-radius: 23px;
    padding: 15px;
    margin: 4px 15px;
    background-color: rgba(80, 81, 85, 0.248);
    box-shadow: 20px 18px 8px 3px rgba(32, 32, 32, 0.689);
    font-family: 'Balsamiq Sans', cursive;
    font-size: 15px;
}

#services .box .h-secondary.services{
    text-align: center;
}
#services .box img{
    display: block;
    margin:auto;
}

#sponcers{
    height:491px;
}

.h-primary.services{
    display:flex;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    justify-content: center;
    font-size: 40px;
}

#sponcers .client{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#sponcers h1{
    margin: 50px;
    /* display:block; */
    font-family: 'Balsamiq Sans', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponcers .client img{
    height: 140px;
    padding: 10px;
}
#sponcers::before{
    content: " ";
    background: url('https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEzfHxidXNpbmVzc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 453px;
    z-index: -1;
}

#h1-sponcers{
    margin: 10px auto;
}

/*  CONTACT INFORMATION */

.form .contact-box h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 40px;
}

.form .contact-box .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    padding: 12px;
    margin: 5px 12px;
}

.form .contact-box input[type="text"],
.form .contact-box input[type="number"],
.form .contact-box textarea{
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    width: 60%;
    border-radius: 12px;
    text-align: center;
    padding: 12px;
    margin: 9px 248px
}
.form .contact-box label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
    padding: 12px;
    margin: 5px 12px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;    
    color: white;
    padding: 18px;
}

.form .conatct-box::before{
    content: "";
    background: url('https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29udGFjdCUyMHVzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;
    display: absolute;
    opacity: 0.89;
    width: 100%;
    height: 900px;
    z-index: -1;
}

footer .center{
    font-size: 20px;
}